/*
 Theme Name:   Twenty Nineteen Child
 Theme URI:    http://github.com/jcasabona/lil-post-types
 Description:  A child theme for Twenty Ninteen
 Author:       Joe Casabona
 Author URI:   https://casabona.org
 Template:     twentynineteen
 Version:      1.0.0
*/

.related-events {
	background:#F7F5F5;
	border: 1px solid #666666;
	padding: 10px;
}

ul.events-list {
	list-style-type: none;
}

ul.events-list li {
	border-bottom: 1px solid #CFCFCF;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

ul.events-list li a {
	font-weight: bold;
}

ul.events-list li p {
	margin: 0; 
	padding: 0;
}